body {
    background-color: skyblue; 
}

h3{
    color:red;
}
p{
    color:rgb(138, 0, 0);
}
button {
    color: blue;
    padding: 15px, 32px;
    text-align: center;
    display: inline-block;
    font-size: 15;
    background-color: chartreuse;
    border-radius: 8px;
}
.smiley {
   border-radius: 50%;
}

img {
    border-radius: 10px;
}



div {
    background-color: yellow;
    font-size: 20px;
    border:2px double gray;
    margin: 2px;
}
#div1{
    background-color: bisque;
}

.customer{
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

#tblcustomer {
    color: purple;
}

.testclass#test{
    color: green;
    width: 100%;
}

#test{
    color:orange;
}

.testclass{
    color: mediumaquamarine;
}

#square{
    width: 200px;
    height: 200px;
    background-color: blue;
}
#circle{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}
#triangle{
    width: 0;
    height: 0;
    border-bottom: 200px solid blue;
    border-left: 200px solid transparent;
}
.nobackground{
    background-color: skyblue;
}

/* this is a comment*/