
    
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    background-color: tan;
}

.header {
    grid-column: 2 / -1;
    color: purple;
    text-align: center
}

.menu{
    grid-row: 1/-1;
    background-color: rgb(241, 72, 72);
}

.content{
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.footer{
    grid-column: 2/-1;
    border-left: 2px solid black;
    border-top: 2px solid black;
    background-color: blue;
}
