
    
.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 40px;
    background-color: tan;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f"
}

.header {
    grid-area: h;
    color: purple;
    text-align: center
}

.menu{
    grid-area: m;
    background-color: rgb(241, 72, 72);
}

.content{
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#registration {
    display: grid;
    grid-template-columns: 1fr;
    
}
#login {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
#profile {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#products {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer{
    grid-area: f;
    border-left: 2px solid black;
    border-top: 2px solid black;
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
